<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.love.datingapp.mapper.SwipeMapper">
    <insert id="save">
        INSERT INTO t_swipes (user_id, target_user_id, swipe_type)
        VALUES (#{userId}, #{targetUserId}, #{swipeType})
    </insert>

    <select id="findByUserIdAndTargetUserId" resultType="com.love.datingapp.entity.Swipe">
        SELECT * FROM t_swipes WHERE user_id = #{userId} AND target_user_id = #{targetUserId}
    </select>
</mapper>